force-app/main/default/flows/Crypto_Transaction_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Crypto</name>
        <label>Assign Crypto</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>SelectedCrypto</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Crypto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Crypto</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ChoiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transaction_Type__c</picklistField>
        <picklistObject>Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Crypto Transaction Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crypto Transaction Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>TransactionID</assignRecordIdToReference>
        <inputAssignments>
            <field>Currency_Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dollar_value__c</field>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cryptocurrency__c</field>
            <value>
                <elementReference>Select_Crypto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>OrderType</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordCreates>
    <recordLookups>
        <name>Selected_Crypto</name>
        <label>Selected Crypto</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crypto_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedCrypto</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cryptocurrency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Crypto_Transaction</name>
        <label>Crypto Transaction</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Crypto Transaction Order&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Crypto</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Selected_Crypto.Name</elementReference>
            </defaultValue>
            <fieldText>Select Crypto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OrderType</name>
            <choiceReferences>ChoiceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OrderType</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Price</name>
            <dataType>Number</dataType>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <nextOrFinishButtonLabel>Create Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Crypto</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>SelectedCrypto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
